.dropdown-wrapper {
	.options-wrapper {
		.option {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
			cursor: pointer;
			font-weight: 300;
			line-height: 1.5;
			outline: 0;
			overflow: hidden;
			padding: 0.5rem 1.5rem;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover,
			&.focus,
			&.selected {
				background: rgb(
					var(--sb-color-border) / var(--sb-color-opacity)
				);
				font-weight: 400;
			}
		}

		.loading-wrapper {
			align-items: center;
			display: flex;
			justify-content: center;
			padding: 1rem;
		}
	}

	&.multi {
		.options-wrapper {
			.option {
				&.selected {
					user-select: none;
				}
			}
		}
	}

	&.expanded {
		.options-wrapper {
			max-height: 15rem;
		}
	}
}
