.dropdown-wrapper {
	color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
	outline: 0;
	position: relative;

	.input-wrapper {
		.input-group {
			.form-control {
				cursor: pointer;
			}

			svg {
				cursor: pointer;
				transform: rotate(0);
				transition: transform 0.3s ease-in-out;
			}

			&.filled {
				svg {
					transition: unset;
				}
			}

			&.disabled {
				.form-control {
					cursor: not-allowed;
				}
			}
		}
	}

	&.search {
		.input-group {
			.form-control {
				cursor: text;
			}
		}
	}

	&.expanded {
		.input-group {
			svg {
				transform: rotate(-180deg);
			}
		}
	}
}

body {
	.sb-dropdown-options-wrapper {
		background: rgb(var(--sb-color-secondary-10) / var(--sb-color-opacity));
		border: 1px solid
			rgb(var(--sb-color-secondary-30) / var(--sb-color-opacity));
		border-radius: 6px;
		max-height: 15rem;
		opacity: 0;
		overflow-y: auto;
		padding: 0;
		position: absolute;
		transition: opacity 0.3s ease-in-out;
		width: 100%;
		z-index: -100;

		&.expanded {
			max-height: 15rem;
			opacity: 1;
			z-index: 1056;
		}

		&.multi {
			.option {
				&.selected {
					user-select: none;
				}
			}
		}

		.option {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
			cursor: pointer;
			font-weight: 300;
			line-height: 1.5;
			outline: 0;
			padding: 0.5rem 1.5rem;

			&:hover,
			&.focus,
			&.selected {
				background: rgb(
					var(--sb-color-primary-accent-100) / var(--sb-color-opacity)
				);
				color: #ffffff;
				font-weight: 400;
			}
		}

		.loading-wrapper {
			align-items: center;
			display: flex;
			justify-content: center;
			padding: 1rem;
		}
	}
}
