.dropdown-wrapper {
	.input-group {
		.form-control {
			.dropdown-input-wrapper {
				caret-color: transparent;
				color: rgb(
					var(--sb-color-primary-font) / var(--sb-color-opacity)
				);
				cursor: pointer;
				flex-grow: 1;
				font-weight: 400;
				width: 100%;

				input.input {
					height: 100%;
				}
			}
		}

		&.readonly,
		&.disabled {
			.form-control {
				.dropdown-input-wrapper {
					color: rgb(
						var(--sb-color-border) / var(--sb-color-opacity)
					);
				}
			}
		}
	}

	&.multi {
		.input-group {
			.form-control {
				.dropdown-input-wrapper {
					align-items: center;
					caret-color: unset;
					display: flex;
					flex-flow: row wrap;
					gap: 1rem 1.5rem;
					justify-content: flex-start;
					padding: 0.75rem 0;

					.pill {
						background: rgb(
							var(--sb-color-primary-accent-100) /
								var(--sb-color-opacity)
						);
						border-radius: 6px;
						color: #ffffff;
						height: fit-content;
						font-size: 1rem;
						line-height: 1.5;
						max-width: 10rem;
						padding: 0.15rem 0.5rem;
						position: relative;

						.clear {
							background: rgb(
								var(--sb-color-border) / var(--sb-color-opacity)
							);
							border-radius: 50%;
							color: rgb(
								var(--sb-color-primary-font) /
									var(--sb-color-opacity)
							);
							cursor: pointer;
							font-size: 0.875rem;
							height: 14px;
							line-height: 12px;
							position: absolute;
							right: -0.65rem;
							text-align: center;
							transition: filter 0.15s ease-in-out;
							top: -0.35rem;
							width: 14px;

							&:hover {
								filter: brightness(0.75);
							}
						}

						.content {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						div:not(.clear, .content) {
							display: inline;
						}
					}
				}
			}
		}
	}

	&.search {
		.input-group {
			.form-control {
				.dropdown-input-wrapper {
					align-items: center;
					caret-color: unset;
					cursor: text;
					display: flex;
					flex-flow: row wrap;
					justify-content: flex-start;

					.input {
						caret-color: auto;
						flex: 1;
						outline: 0;
					}

					&.selected {
						&:not(.multi) {
							.content {
								max-width: 95%;
								overflow: hidden;

								span {
									display: block;
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}
