@keyframes table-skeleton-loading {
	50% {
		opacity: 0.5;
	}
}

tr.table-loader-tr {
	td {
		color: transparent;
		padding: 0.75rem !important;

		div {
			animation: table-skeleton-loading 2s cubic-bezier(0.4, 0, 0.6, 1)
				infinite;
			background-color: rgb(var(--sb-color-secondary-40) / 1);
			border-radius: 6px;
			display: block;
		}
	}
}
