@keyframes table-skeleton-loading {
	0% {
		background-color: rgb(var(--sb-color-border) / var(--sb-color-opacity));
	}
	100% {
		background-color: rgb(
			var(--sb-color-table-head) / var(--sb-color-opacity)
		);
	}
}

.sb-table.loader {
	tbody {
		tr {
			td {
				color: transparent;

				div {
					animation: table-skeleton-loading 1s linear infinite
						alternate;
					border-radius: 6px;
					display: block;
				}
			}
		}
	}
}
