.accordion {
	border: 1px solid
		rgb(var(--sb-color-secondary-30) / var(--sb-color-opacity));
	border-radius: 6px;
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
	color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
	overflow: hidden;

	.header-wrapper {
		background: rgb(var(--sb-color-default-100) / var(--sb-color-opacity));
		color: #ffffff;
		cursor: pointer;
		padding: 0.75rem 1rem;
		position: relative;

		&.accent {
			background: rgb(
				var(--sb-color-primary-accent-100) / var(--sb-color-opacity)
			);
		}

		&.default {
			background: rgb(
				var(--sb-color-default-100) / var(--sb-color-opacity)
			);
		}

		&.secondary {
			background: rgb(
				var(--sb-color-secondary-100) / var(--sb-color-opacity)
			);
		}

		&.success {
			background: rgb(
				var(--sb-color-success-100) / var(--sb-color-opacity)
			);
		}

		&.primary {
			background: rgb(
				var(--sb-color-primary-100) / var(--sb-color-opacity)
			);
		}

		&.warning {
			background: rgb(
				var(--sb-color-warning-100) / var(--sb-color-opacity)
			);
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
		}

		&.danger {
			background: rgb(
				var(--sb-color-danger-100) / var(--sb-color-opacity)
			);
		}

		&.info {
			background: rgb(var(--sb-color-info-100) / var(--sb-color-opacity));
		}

		.title {
			font-size: 1rem;
			font-weight: 500;
			margin: 0;
		}

		svg {
			height: 1rem;
			position: absolute;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%) rotate(0deg);
			transition: transform 0.15s ease-in-out;
		}
	}

	.content-wrapper {
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
		font-weight: 500;
		height: 0;
		overflow: visible;
		transition: height 222ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

		.content {
			padding: 0.75rem 1rem;
		}
	}

	&.expanded {
		> .content-wrapper {
			height: auto;
			min-height: 0;
		}

		> .header-wrapper {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;

			svg {
				transform: translateY(-50%) rotate(-180deg);
			}
		}
	}

	&.no-elevation {
		box-shadow: none;
	}
}
