.breadcrumb {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	user-select: none;

	.crumb {
		color: rgb(var(--sb-color-secondary-100) / var(--sb-color-opacity));
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		text-transform: capitalize;

		&:last-of-type {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
			font-weight: 500;
		}
	}

	svg {
		fill: rgb(var(--sb-color-secondary-60) / var(--sb-color-opacity));
		height: 1.25rem;
		margin: 0 0.5rem;
	}
}
