.color-wrapper {
	.label {
		color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
		display: inline-block;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 1rem;

		&.error {
			color: rgb(var(--sb-color-danger-100) / var(--sb-color-opacity));
			font-weight: 500;
		}
	}

	.colors-wrapper {
		display: grid;
		gap: 6px;
		grid-template-columns: repeat(auto-fill, 2.5rem);

		.color {
			align-items: center;
			background: transparent;
			border-radius: 50%;
			box-sizing: border-box;
			cursor: pointer;
			display: flex;
			height: 2.5rem;
			justify-content: center;
			padding: 2px;
			position: relative;
			transition: all 100ms cubic-bezier(0, 0, 0.2, 1) 0ms;
			width: 2.5rem;

			& > div {
				border-radius: 50%;
				height: 100%;
				transition: all 100ms cubic-bezier(0, 0, 0.2, 1) 0ms;
				width: 100%;
			}

			&.selected,
			&:hover {
				border: 2px solid rgb(var(--sb-color-secondary-60) / 0.5);
			}
		}
	}

	.error-wrapper {
		margin-top: 0.5rem;

		span {
			color: rgb(var(--sb-color-danger-100) / var(--sb-color-opacity));
			font-size: 1rem;
			font-weight: 500;
		}
	}
}
