body {
	table.sb-table {
		width: 100%;

		thead {
			background: rgb(
				var(--sb-color-table-head) / var(--sb-color-opacity)
			);

			tr:first-of-type {
				th {
					border-top: 0;
				}
			}
		}

		tr {
			td {
				border-top: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				font-size: 0.875rem;
				font-weight: 400;
				padding: 0.75rem;
				vertical-align: middle;
			}

			th {
				border-top: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				font-size: 1rem;
				font-weight: 500;
				padding: 0.75rem;
				vertical-align: middle;
			}
		}

		&.odd-even {
			tbody {
				tr:first-child,
				tr:nth-child(2n + 3) {
					background: rgb(
						var(--sb-color-border) / var(--sb-color-opacity)
					);
				}
			}
		}
	}

	.datatable {
		.table-wrapper {
			border: 1px solid
				rgb(var(--sb-color-border) / var(--sb-color-opacity));
			border-radius: 6px;

			&.table-responsive {
				display: block;
				overflow-x: auto;
				width: 100%;
			}

			.sb-table {
				background: transparent;
				border-collapse: collapse;
				width: 100%;

				thead {
					th {
						position: relative;

						.th-items-wrapper {
							align-items: center;
							display: flex;
							justify-content: flex-start;

							.th-search-wrapper {
								align-items: center;
								display: flex;
								flex-grow: 1;
								overflow: hidden;
								position: relative;

								.label {
									flex: 1 1 0%;
									position: relative;
								}

								.input {
									overflow: hidden;
									position: absolute;
									right: 0;
									top: 0;
									transition-duration: 150ms;
									transition-property: all;
									transition-timing-function: cubic-bezier(
										0.4,
										0,
										0.2,
										1
									);

									.input-wrapper {
										background: #ffffff;
									}
								}
							}
						}

						.sort-wrapper {
							cursor: pointer;
							display: block;
							height: 2rem;
							position: relative;
							width: 1rem;

							.icon {
								left: 50%;
								position: absolute;
								transform: translateX(-50%);
							}

							.icon:first-of-type {
								top: 0.525rem;
							}

							.icon:last-of-type {
								bottom: 0.525rem;
							}
						}

						&.sort {
							padding-left: 2rem;
							padding-right: 2rem;

							&.asc {
								.sort-wrapper {
									.icon:last-of-type {
										color: rgb(
											var(--sb-color-border) /
												var(--sb-color-opacity)
										);
									}
								}
							}

							&.desc {
								.sort-wrapper {
									.icon:first-of-type {
										color: rgb(
											var(--sb-color-border) /
												var(--sb-color-opacity)
										);
									}
								}
							}
						}

						&.sort.search {
							padding-left: 4rem;
							padding-right: 4rem;
						}

						.action-wrapper {
							align-items: center;
							display: flex;
							justify-content: flex-start;
							position: absolute;
							right: 0.5rem;

							.col-search-wrapper {
								align-items: center;
								cursor: pointer;
								display: flex;
								height: 2rem;
								margin-right: 1.25rem;
								width: 1rem;
							}
						}
					}
				}
			}
		}

		.search-wrapper {
			align-items: center;
			display: flex;
			justify-content: flex-end;
			margin-bottom: 1.5rem;

			.form-group {
				width: 15rem;
			}
		}

		.footer-wrapper {
			align-items: center;
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
			display: flex;
			flex-flow: row wrap;
			font-size: 1rem;
			justify-content: flex-end;
			margin-top: 1.5rem;

			&.options {
				justify-content: space-between;
			}

			.pagination-wrapper {
				display: flex;
				justify-content: flex-start;

				.count-wrapper {
					font-weight: 500;
					margin-right: 2rem;
				}

				.arrow-wrapper {
					svg {
						color: rgb(
							var(--sb-color-secondary-font) /
								var(--sb-color-opacity)
						);
						cursor: pointer;
						height: 1.5rem;
						transition: transform 0.15s ease-in-out;

						&:first-of-type {
							margin-right: 2rem;
						}

						&:hover:not(.disabled) {
							color: rgb(
								var(--sb-color-primary-font) /
									var(--sb-color-opacity)
							);
							transform: scale(1.15);
						}

						&.disabled {
							color: rgb(
								var(--sb-color-disabled-100) /
									var(--sb-color-opacity)
							);
							cursor: not-allowed;
						}
					}
				}
			}

			.length-options {
				align-items: center;
				display: flex;
				justify-content: flex-start;

				> span {
					font-weight: 400;
					margin-right: 1rem;
				}

				.dropdown-wrapper {
					min-width: 5rem;
				}
			}
		}
	}
}
