body {
	table.sb-table {
		width: 100%;

		thead {
			background: rgb(
				var(--sb-color-table-head) / var(--sb-color-opacity)
			);

			tr:first-of-type {
				th {
					border-top: 0;
				}
			}
		}

		tr {
			td {
				border-top: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				font-size: 0.9375rem;
				font-weight: 400;
				padding: 0.75rem;
				vertical-align: middle;
			}

			th {
				border-top: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				font-size: 0.9375rem;
				font-weight: 500;
				padding: 0.75rem;
				vertical-align: middle;
			}
		}

		&.odd-even {
			tbody {
				tr:first-child,
				tr:nth-child(2n + 3) {
					background: rgb(
						var(--sb-color-border) / var(--sb-color-opacity)
					);
				}
			}
		}
	}

	.datatable {
		border-color: rgb(var(--sb-color-border) / var(--sb-color-opacity));

		.table-wrapper {
			border: 1px solid;
			border-color: inherit;
			border-radius: 6px;

			&.table-responsive {
				display: block;
				overflow-x: auto;
				width: 100%;
			}

			.sb-table {
				background: transparent;
				border-collapse: collapse;
				width: 100%;

				thead {
					th {
						position: relative;

						.th-items-wrapper {
							align-items: center;
							display: flex;
							justify-content: flex-start;

							.th-search-wrapper {
								align-items: center;
								display: flex;
								flex-grow: 1;
								overflow: hidden;
								position: relative;

								.label {
									flex: 1 1 0%;
									position: relative;
									white-space: nowrap;
								}

								.input {
									overflow: hidden;
									position: absolute;
									right: 0;
									top: 0;
									transition-duration: 150ms;
									transition-property: all;
									transition-timing-function: cubic-bezier(
										0.4,
										0,
										0.2,
										1
									);

									.input-wrapper {
										background: #ffffff;
									}
								}
							}
						}

						.sort-wrapper {
							cursor: pointer;
							display: block;
							height: 2rem;
							position: relative;
							width: 1rem;

							.icon {
								height: 0.875rem;
								left: 50%;
								position: absolute;
								transform: translateX(-50%);
								width: 0.875rem;
							}

							.icon:first-of-type {
								top: 0.525rem;
							}

							.icon:last-of-type {
								bottom: 0.525rem;
							}
						}

						&.sort {
							cursor: pointer;

							&.asc {
								.sort-wrapper {
									.icon:last-of-type {
										color: rgb(
											var(--sb-color-border) /
												var(--sb-color-opacity)
										);
									}
								}
							}

							&.desc {
								.sort-wrapper {
									.icon:first-of-type {
										color: rgb(
											var(--sb-color-border) /
												var(--sb-color-opacity)
										);
									}
								}
							}
						}

						.action-wrapper {
							align-items: center;
							display: flex;
							justify-content: flex-start;
							position: absolute;
							right: 0.5rem;

							.col-search-wrapper {
								align-items: center;
								cursor: pointer;
								display: flex;
								height: 2rem;
								margin-right: 1.25rem;
								width: 1rem;
							}
						}
					}
				}

				tbody {
					.no-results {
						padding: 1rem;
						width: 100%;

						svg {
							display: block;
							margin: 0 auto;
							width: 210px;
						}

						div {
							color: rgb(
								var(--sb-color-primary-font) /
									var(--sb-color-opacity)
							);
							font-size: 0.9375rem;
							font-weight: 500;
							text-align: center;
						}
					}

					tr {
						transition: background 0.15s ease-in-out;

						&.can-hover:hover {
							background: rgb(
								var(--sb-color-secondary-20) /
									var(--sb-color-opacity)
							);
						}

						&.can-click {
							cursor: pointer;
						}
					}
				}

				&.with-col-sort,
				&.with-col-search {
					thead {
						th {
							padding-right: 2rem;
						}
					}

					tbody {
						td {
							padding-right: 2rem;
						}
					}
				}

				&.with-col-sort.with-col-search {
					thead {
						th {
							padding-right: 4rem;
						}
					}

					tbody {
						td {
							padding-right: 4rem;
						}
					}
				}
			}
		}

		.search-wrapper {
			align-items: center;
			display: flex;
			justify-content: flex-end;
			margin-bottom: 1.5rem;

			.form-group {
				width: 15rem;
			}
		}

		.footer-wrapper {
			align-items: center;
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
			display: flex;
			flex-flow: row wrap;
			font-size: 0.9375rem;
			justify-content: flex-end;
			margin-top: 1.5rem;

			&.options {
				justify-content: space-between;
			}

			.pagination-wrapper {
				align-items: center;
				display: flex;
				justify-content: flex-start;

				.count-wrapper {
					font-weight: 500;
					margin-right: 1rem;
				}

				.arrow-wrapper {
					align-items: center;
					display: flex;
					gap: 0.5rem;

					div {
						align-items: center;
						background: rgb(
							var(--sb-color-secondary-80) /
								var(--sb-color-opacity)
						);
						border-radius: 50%;
						box-shadow:
							0 10px 15px -3px #0000001a,
							0 4px 6px -4px #0000001a;
						cursor: pointer;
						display: flex;
						height: 2rem;
						justify-content: center;
						transition: background 0.15s ease-in-out;
						width: 2rem;

						svg {
							fill: rgb(
								var(--sb-color-secondary-30) /
									var(--sb-color-opacity)
							);
							height: 1rem;
							transition:
								transform 0.15s ease-in-out,
								fill 0.15s ease-in-out;
						}

						&:hover:not(.disabled) {
							background: rgb(
								var(--sb-color-secondary-100) /
									var(--sb-color-opacity)
							);

							svg {
								transform: scale(1.15);
							}
						}

						&.disabled {
							background: rgb(
								var(--sb-color-secondary-30) /
									var(--sb-color-opacity)
							);
							box-shadow: none;
							cursor: not-allowed;

							svg {
								fill: rgb(
									var(--sb-color-secondary-60) /
										var(--sb-color-opacity)
								);
							}
						}
					}
				}
			}

			.length-options {
				align-items: center;
				display: flex;
				justify-content: flex-start;

				> span {
					font-weight: 400;
					margin-right: 1rem;
				}

				.dropdown-wrapper {
					min-width: 5rem;
				}
			}
		}
	}
}
