@keyframes file-preview-skeleton-loading {
	50% {
		opacity: 0.5;
	}
}

.file-preview-wrapper {
	width: 50rem;

	&.pdf {
		width: 60rem;
	}

	@media screen and (max-width: 1024px) {
		width: 40rem;

		&.pdf {
			width: 50rem;
		}
	}

	@media screen and (max-width: 768px) {
		width: 70vw;

		&.pdf {
			width: 80vw;
		}
	}

	@media screen and (max-width: 600px) {
		width: 75vw;

		&.pdf {
			width: 75vw;
		}
	}

	&.image,
	&.audio,
	&.video {
		max-height: 75vh;
		overflow-y: auto;
	}

	.loading {
		height: 50vh;
		width: 100%;

		.skeleton {
			animation: file-preview-skeleton-loading 2s
				cubic-bezier(0.4, 0, 0.6, 1) infinite;
			background-color: rgb(var(--sb-color-secondary-40) / 1);
			border-radius: 6px;
			height: 100%;
			width: 100%;
		}
	}

	.content {
		.iframe {
			width: 100%;

			&.audio {
				height: 75px;
			}

			&.video {
				min-height: 420px;
			}
		}

		.pdf-viewer {
			overflow: hidden;
			position: relative;

			.image-wrapper {
				max-height: 75vh;
				overflow-y: auto;

				@media screen and (max-width: 768px) {
					max-height: 80vh;
				}

				img {
					width: 100%;
				}
			}

			.control {
				align-items: center;
				background: rgb(
					var(--sb-color-secondary-20) / var(--sb-color-opacity)
				);
				border-radius: 6px;
				bottom: 2rem;
				box-shadow:
					0 4px 6px -1px rgb(0 0 0 / 0.1),
					0 2px 4px -2px rgb(0 0 0 / 0.1);
				display: flex;
				justify-content: center;
				left: 50%;
				opacity: 0;
				padding: 1rem;
				position: absolute;
				transform: translateX(-50%);
				transition: opacity 0.25s ease-in-out;
				user-select: none;
				width: max-content;

				.page-state {
					color: rgb(
						var(--sb-color-secondary-100) / var(--sb-color-opacity)
					);
					font-size: 0.9375rem;
					font-weight: 400;

					.current {
						color: rgb(
							var(--sb-color-primary-font) /
								var(--sb-color-opacity)
						);
						font-weight: 500;
					}

					span:nth-child(2) {
						margin: 0 0.5rem;
					}
				}

				svg {
					fill: rgb(
						var(--sb-color-secondary-100) / var(--sb-color-opacity)
					);
					cursor: pointer;
					height: 1rem;
					transition: fill 0.15s ease-in-out;

					&:first-of-type {
						margin-right: 1.5rem;
					}

					&:last-of-type {
						margin-left: 1.5rem;
					}

					&:hover {
						color: rgb(
							var(--sb-color-primary-accent-30) /
								var(--sb-color-opacity)
						);
					}

					&.disabled {
						color: rgb(
							var(--sb-color-secondary-60) /
								var(--sb-color-opacity)
						);
						pointer-events: none;
					}
				}
			}

			&:hover {
				.control {
					opacity: 1;
				}
			}
		}
	}
}
