.stepper-wrapper {
	display: flex;
	flex-flow: column;
	width: 100%;

	.stepper {
		&-header,
		&-body,
		&-footer {
			flex: 1;
		}

		&-header {
			align-items: center;
			display: flex;
			justify-content: space-between;

			.header-step {
				align-items: center;
				display: flex;
				line-height: 1;
				justify-content: flex-start;

				&.non-linear {
					cursor: pointer;
				}

				&-label-wrapper {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);
					font-size: 1rem;
					font-weight: 400;
					padding: 0.5rem 1rem;

					& > div {
						transition: color 0.25s ease-in-out;
					}

					div:nth-child(2) {
						font-size: 0.875rem;
						color: rgb(
							var(--sb-color-secondary-100) /
								var(--sb-color-opacity)
						);
						margin-top: 0.25rem;
					}

					&.error {
						div:nth-child(2) {
							font-weight: 500;
						}
					}
				}

				&-number-wrapper {
					align-items: center;
					background: rgb(
						var(--sb-color-secondary-20) / var(--sb-color-opacity)
					);
					border-radius: 50%;
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);
					display: flex;
					font-size: 1rem;
					font-weight: 400;
					height: 35px;
					justify-content: center;
					transition: all 0.25s ease-in-out;
					width: 35px;

					svg {
						height: 1rem;
					}
				}

				&_divider {
					border-color: rgb(var(--sb-color-primary-accent-60) / 0.25);
					border-width: 1px;
					flex: 1;
					margin-right: 1rem;

					&.active {
						border-color: rgb(
							var(--sb-color-primary-accent-60) / 0.75
						);
					}

					&.mobile {
						margin-left: 1rem;
					}
				}

				&.active {
					.header-step {
						&-label-wrapper {
							div:first-of-type {
								font-weight: 500;
							}
						}

						&-number-wrapper {
							background: rgb(
								var(--sb-color-primary-accent-60) / 0.2
							);
							color: rgb(
								var(--sb-color-primary-accent-60) /
									var(--sb-color-opacity)
							);
						}
					}
				}

				&.error {
					.header-step {
						&-label-wrapper {
							div:first-of-type {
								color: rgb(
									var(--sb-color-danger-100) /
										var(--sb-color-opacity)
								);
								font-weight: 500;
							}

							div:nth-child(2) {
								color: rgb(
									var(--sb-color-danger-60) /
										var(--sb-color-opacity)
								);
							}
						}

						&-number-wrapper {
							background: rgb(
								var(--sb-color-danger-10) /
									var(--sb-color-opacity)
							);
							color: rgb(
								var(--sb-color-danger-100) /
									var(--sb-color-opacity)
							);
						}
					}
				}

				&.alternate {
					display: block;

					.header-step {
						&-label-wrapper {
							margin-top: 0.75rem;
							text-align: center;
						}

						&-number-wrapper {
							margin: 0 auto;
						}
					}
				}
			}
		}

		&-body {
			align-items: flex-start;
			display: flex;
			margin-top: 1.5rem;
			padding: 1.5rem;
			overflow-x: hidden;
			width: 100%;

			&-content {
				flex: 1;
				width: 100%;
			}
		}

		&-footer {
			align-items: center;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			margin-top: 1.5rem;
			padding: 0.5rem 0.625rem;

			&.only-next {
				justify-content: flex-end;
			}

			.action-buttons {
				align-items: center;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 1rem;
				justify-content: flex-start;
			}
		}
	}

	&.vertical {
		.stepper-header {
			display: block;

			.header-step {
				flex-flow: row wrap;
				padding-bottom: 3rem;
				position: relative;
				width: 100%;

				.content-wrapper {
					max-height: 0;
					overflow-y: auto;
					padding-left: calc(35px - 0.5rem);
					transition: max-height 0.25s ease-in-out;
					width: 100%;

					.stepper {
						&-body {
							margin-top: 0;
						}
					}

					&.expanded {
						max-height: 100vh;
						transition: max-height 0.5s ease-in-out;
					}
				}

				&::after {
					content: '';
					background: rgb(var(--sb-color-primary-accent-60) / 0.25);
					height: calc(100% - 35px - 1.5rem);
					left: calc(35px / 2 - 1px);
					position: absolute;
					top: calc(35px + 1rem);
					width: 2px;
				}

				&.filled {
					&::after {
						background: rgb(
							var(--sb-color-primary-accent-60) / 0.75
						);
					}
				}

				&:last-of-type {
					padding-bottom: 0;

					&::after {
						display: none;
					}
				}
			}
		}
	}
}
