.tooltip {
	background: #6b7280;
	border-radius: 6px;
	color: #ffffff;
	font-size: 0.8125rem;
	font-weight: 500;
	opacity: 0;
	padding: 4px 8px;
	position: fixed;
	transition: opacity 0.2s ease-in-out;
	z-index: -100;

	&.show {
		opacity: 1;
		z-index: 1055;
	}

	&.hide {
		display: none;
	}
}

:deep(.content-wrapper) {
	> * {
		height: 100%;
		width: 100%;
	}
}
