.tree-view {
	color: rgb(var(--sb-color-secondary-font) / var(--sb-color-opacity));
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.5;

	.tree-view-item {
		padding: 0.15rem;

		.label-wrapper {
			align-items: center;
			border: 1px solid transparent;
			border-radius: 6px;
			cursor: pointer;
			display: flex;
			justify-content: flex-start;
			padding: 0.5rem 1rem;
			transition: all 0.15s ease-in-out;

			&:hover {
				background: rgb(
					var(--sb-color-secondary-20) / var(--sb-color-opacity)
				);
				color: rgb(
					var(--sb-color-primary-font) / var(--sb-color-opacity)
				);
			}

			label {
				cursor: pointer;
				flex: 1;
			}

			svg.angle-right {
				fill: rgb(
					var(--sb-color-secondary-60) / var(--sb-color-opacity)
				);
				height: 1rem;
				transform: rotate(0deg);
				transition: transform 0.2s ease-in-out;
			}

			&.selected {
				background: rgb(var(--sb-color-primary-accent-60) / 0.15);
				color: rgb(
					var(--sb-color-primary-accent-60) / var(--sb-color-opacity)
				);
				font-weight: 500;

				.check-wrapper {
					background: rgb(
						var(--sb-color-primary-accent-60) /
							var(--sb-color-opacity)
					);
					border-color: rgb(
						var(--sb-color-primary-accent-60) /
							var(--sb-color-opacity)
					);

					span.check {
						color: #ffffff;
					}
				}
			}

			& > * {
				margin-right: 1.15rem;
			}

			& > *:last-child {
				margin-right: 0;
			}

			.check-wrapper {
				border: 2px solid
					rgb(var(--sb-color-secondary-30) / var(--sb-color-opacity));
				border-radius: 6px;
				height: 1.75rem;
				position: relative;
				transition: all 0.25s ease-in-out;
				width: 1.75rem;

				span {
					color: rgb(
						var(--sb-color-secondary-100) / var(--sb-color-opacity)
					);
					font-size: 1.875rem;
					font-weight: 400;
					left: 55%;
					position: absolute;
					top: 55%;
					transform: translate(-50%, -50%);

					svg {
						height: 1rem;
					}
				}

				span.check {
					left: 50%;
					top: 45%;
				}

				&:hover {
					border-color: rgb(
						var(--sb-color-primary-accent-60) /
							var(--sb-color-opacity)
					);
				}

				&.all-checked {
					background: rgb(
						var(--sb-color-primary-accent-60) /
							var(--sb-color-opacity)
					);
					border-color: rgb(
						var(--sb-color-primary-accent-60) /
							var(--sb-color-opacity)
					);

					span.check {
						color: #ffffff;
					}
				}
			}
		}

		&.has-child {
			& > ul {
				max-height: 0;
				overflow: hidden;
				padding-left: 1.75rem;
				transition: max-height 0.25s ease-in-out;
			}

			&.expanded {
				> .label-wrapper {
					svg.angle-right {
						transform: rotate(90deg);
					}
				}

				& > ul {
					max-height: 100vh;
				}
			}
		}
	}
}
