@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--sb-color-border: 212 212 212;
	--sb-color-table-head: 238 238 238;

	--sb-color-primary-font: 48 48 48;
	--sb-color-secondary-font: 99 99 99;

	--sb-color-primary-accent-100: 80 64 153;
	--sb-color-primary-accent-60: 110 83 185;
	--sb-color-primary-accent-30: 180 107 223;

	--sb-color-success-100: 55 146 55;
	--sb-color-success-60: 84 180 53;
	--sb-color-success-30: 181 215 202;
	--sb-color-success-10: 246 253 250;

	--sb-color-danger-100: 210 19 18;
	--sb-color-danger-60: 237 43 42;
	--sb-color-danger-30: 243 174 174;
	--sb-color-danger-10: 255 235 235;

	--sb-color-default-100: 82 109 130;
	--sb-color-default-60: 157 178 191;
	--sb-color-default-30: 221 230 237;

	--sb-color-disabled-100: 170 170 170;
	--sb-color-disabled-60: 187 187 187;

	--sb-color-info-100: 67 154 151;
	--sb-color-info-60: 98 182 183;
	--sb-color-info-30: 186 235 223;
	--sb-color-info-10: 247 255 253;

	--sb-color-primary-100: 25 29 136;
	--sb-color-primary-85: 20 80 163;
	--sb-color-primary-60: 73 66 228;
	--sb-color-primary-30: 192 199 245;

	--sb-color-warning-100: 255 177 0;
	--sb-color-warning-60: 251 194 82;
	--sb-color-warning-30: 251 235 216;
	--sb-color-warning-10: 255 249 243;

	--sb-color-secondary-100: 117 117 117;
	--sb-color-secondary-80: 142 142 142;
	--sb-color-secondary-60: 178 178 178;
	--sb-color-secondary-50: 195 195 195;
	--sb-color-secondary-40: 217 217 217;
	--sb-color-secondary-30: 234 234 234;
	--sb-color-secondary-20: 240 240 240;
	--sb-color-secondary-10: 249 249 249;

	--sb-color-opacity: 1;
}

html {
	font-size: 13px;
}

body * {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.01rem;
}

body label.required span.asterisk {
	color: rgb(var(--sb-color-danger-100) / var(--sb-color-opacity));
}

body svg.sb-icon {
	display: inline-block;
	fill: currentColor;
}

body .sb-hidden {
	display: none !important;
}

body.sb-overflow-hidden {
	overflow: hidden !important;
}

body .sb-whitespace-nowrap {
	white-space: nowrap !important;
}

body .sb-cursor-pointer {
	cursor: pointer !important;
}

body .sb-w-full {
	width: 100% !important;
}

body .sb-relative {
	position: relative !important;
}
