.datepicker-wrapper {
	outline: 0;
	position: relative;

	.input-group {
		.icon {
			cursor: pointer;
		}
	}
}

body {
	.sb-datepicker-popup-wrapper {
		background: rgb(var(--sb-color-secondary-10) / var(--sb-color-opacity));
		border: 1px solid
			rgb(var(--sb-color-secondary-30) / var(--sb-color-opacity));
		border-radius: 6px;
		box-shadow:
			0 10px 15px -3px rgb(0 0 0 / 0.1),
			0 4px 6px -4px rgb(0 0 0 / 0.1);
		font-size: 0.875rem;
		max-width: 25rem;
		min-width: 20rem;
		overflow: hidden;
		position: absolute;
		z-index: 1061;

		@media screen and (max-width: 600px) {
			max-width: calc(100vw - 3rem);
		}

		.footer {
			display: flex;

			button {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				flex: 1;

				svg {
					height: 1rem;
				}
			}

			&.two-button {
				button {
					&:first-of-type {
						border-bottom-right-radius: 0;
					}

					&:last-of-type {
						border-bottom-left-radius: 0;
					}
				}
			}

			button.button-time {
				align-items: center;
				display: flex;
				justify-content: center;
			}
		}

		.header {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding: 1rem;

			.nav-wrapper {
				align-items: center;
				display: flex;
				justify-content: flex-start;

				.nav {
					align-items: center;
					background: rgb(
						var(--sb-color-primary-accent-30) /
							var(--sb-color-opacity)
					);
					border-radius: 50%;
					cursor: pointer;
					display: flex;
					height: 1.75rem;
					justify-content: center;
					transition: background 0.15s ease-in-out;
					width: 1.75rem;

					&:last-of-type {
						margin-left: 0.5rem;
					}

					&:hover {
						background: rgb(
							var(--sb-color-primary-accent-60) /
								var(--sb-color-opacity)
						);

						svg {
							fill: #ffffff;
						}
					}

					svg {
						fill: rgb(
							var(--sb-color-primary-accent-100) /
								var(--sb-color-opacity)
						);
						height: 0.875rem;
						transition: fill 0.25s ease-in-out;
					}
				}
			}

			.current {
				.month {
					color: rgb(
						var(--sb-color-secondary-100) / var(--sb-color-opacity)
					);
					cursor: pointer;
					font-size: 0.875rem;
					font-weight: 400;
					text-align: center;
				}

				.year {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);
					cursor: pointer;
					font-size: 0.9375rem;
					font-weight: 400;
					line-height: 1;
					text-align: center;
				}
			}
		}

		.body {
			padding: 1rem;

			.dates-wrapper {
				display: grid;
				gap: 0.75rem;
				grid-template-columns: repeat(7, minmax(0, 1fr));
				margin-top: 1rem;

				.date {
					border-radius: 6px;
					box-sizing: border-box;
					color: rgb(
						var(--sb-color-secondary-font) / var(--sb-color-opacity)
					);
					cursor: pointer;
					font-weight: 400;
					text-align: center;
					transition:
						background 150ms ease-in-out,
						color 250ms ease-in-out;

					&.current:not(.selected) {
						border: 1px solid
							rgb(
								var(--sb-color-primary-accent-60) /
									var(--sb-color-opacity)
							);
						box-sizing: border-box;
						color: rgb(
							var(--sb-color-primary-accent-60) /
								var(--sb-color-opacity)
						);
						font-weight: 500;
					}

					&.disabled {
						color: rgb(
							var(--sb-color-secondary-60) /
								var(--sb-color-opacity)
						);
						cursor: not-allowed;
					}

					&:hover:not(.disabled, .selected),
					&.selected {
						background: rgb(
							var(--sb-color-primary-accent-60) /
								var(--sb-color-opacity)
						);
						color: #ffffff;
					}
				}
			}

			.days-wrapper {
				display: grid;
				gap: 0.75rem;
				grid-template-columns: repeat(7, minmax(0, 1fr));

				.day {
					color: rgb(
						var(--sb-color-secondary-font) / var(--sb-color-opacity)
					);
					font-size: 0.875rem;
					font-weight: 400;
					text-align: center;
					text-transform: uppercase;
					user-select: none;
				}
			}

			.time-wrapper {
				align-items: center;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: center;
				height: 100%;

				.time {
					align-items: center;
					display: flex;
					flex: 1 1 0%;
					justify-content: center;
				}

				.separator {
					color: rgb(
						var(--sb-color-secondary-100) / var(--sb-color-opacity)
					);
					font-size: 1.75rem;
					font-weight: 500;
					user-select: none;
				}

				.value-wrapper {
					align-items: center;
					display: flex;
					flex-flow: column;
					flex-wrap: wrap;
					gap: 1rem;
					justify-content: center;
					padding: 0 0.5rem;

					.time-nav {
						align-items: center;
						background: rgb(
							var(--sb-color-primary-accent-30) /
								var(--sb-color-opacity)
						);
						border-radius: 50%;
						cursor: pointer;
						display: flex;
						height: 1.5rem;
						justify-content: center;
						padding: 0.35rem;
						transition: background 0.15s ease-in-out;
						width: 1.5rem;

						svg {
							fill: rgb(
								var(--sb-color-primary-accent-100) /
									var(--sb-color-opacity)
							);
							height: 1.5rem;
							transition: fill 0.2s ease-in-out;
						}

						&:hover {
							background: rgb(
								var(--sb-color-primary-accent-60) /
									var(--sb-color-opacity)
							);

							svg {
								fill: #ffffff;
							}
						}

						&.down {
							svg {
								margin-top: 0.25rem;
							}
						}
					}

					.value {
						border-radius: 6px;
						box-sizing: content-box;
						color: rgb(
							var(--sb-color-primary-font) /
								var(--sb-color-opacity)
						);
						cursor: pointer;
						font-size: 1.75rem;
						font-weight: 500;
						padding: 0 0.5rem;
						text-align: center;
						transition:
							background 0.15s ease-in-out,
							color 0.2s ease-in-out;
						user-select: none;

						&:hover {
							background: rgb(
								var(--sb-color-primary-accent-60) / 0.15
							);
							color: rgb(
								var(--sb-color-primary-accent-60) /
									var(--sb-color-opacity)
							);
						}
					}
				}
			}
		}

		.month-list-wrapper,
		.year-list-wrapper,
		.hour-list-wrapper,
		.minute-list-wrapper {
			background: rgb(
				var(--sb-color-secondary-10) / var(--sb-color-opacity)
			);
			display: grid;
			gap: 0.75rem;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			position: absolute;
			height: 100%;
			left: 0;
			overflow-y: scroll;
			padding: 1rem;
			right: 0;
			top: -100%;
			transition: top 0.25s ease-in-out;

			.month,
			.year,
			.hour,
			.minute {
				align-items: center;
				border-radius: 6px;
				color: rgb(
					var(--sb-color-primary-font) / var(--sb-color-opacity)
				);
				cursor: pointer;
				display: flex;
				font-size: 0.9375rem;
				font-weight: 400;
				justify-content: center;
				padding: 0.5rem 0;
				text-align: center;
				transition:
					background 0.15s ease-in-out,
					color 0.25s ease-in-out;
				vertical-align: middle;

				&.selected,
				&:hover {
					background: rgb(
						var(--sb-color-primary-accent-60) /
							var(--sb-color-opacity)
					);
					color: #ffffff;
				}
			}
		}

		&.time-only {
			.body {
				.time-wrapper {
					min-height: 15rem;
				}
			}
		}

		&.datetime {
			.month-list-wrapper,
			.year-list-wrapper,
			.hour-list-wrapper,
			.minute-list-wrapper {
				height: calc(100% - 3rem);
				margin-bottom: 1rem;
				padding-bottom: 0;
			}

			.year-list-wrapper {
				padding-bottom: 0;
			}

			.body {
				.time-wrapper {
					background: rgb(
						var(--sb-color-secondary-10) / var(--sb-color-opacity)
					);
					position: absolute;
					height: calc(100% - 3rem);
					left: 0;
					top: -100%;
					transition: top 0.25s ease-in-out;
					width: 100%;
				}
			}
		}

		&.with-save {
			.month-list-wrapper,
			.year-list-wrapper,
			.hour-list-wrapper,
			.minute-list-wrapper {
				height: calc(100% - 3.5rem);
			}
		}

		&.container {
			&-time {
				.body {
					.time-wrapper {
						top: 0;
					}
				}
			}

			&-month-list {
				.month-list-wrapper {
					top: 0;
				}
			}

			&-year-list {
				.year-list-wrapper {
					top: 0;
				}
			}

			&-hour-list {
				.hour-list-wrapper {
					top: 0;
				}
			}

			&-minute-list {
				.minute-list-wrapper {
					top: 0;
				}
			}
		}

		&.month {
			.month-list-wrapper {
				position: relative;
				top: unset;
			}
		}

		&.year {
			.year-list-wrapper {
				max-height: 12rem;
				position: relative;
				top: unset;
			}
		}

		&.range {
			.body {
				.dates-wrapper {
					.date {
						&:hover:not(.disabled) {
							background: rgb(
								var(--sb-color-primary-accent-60) /
									var(--sb-color-opacity)
							);
							color: #ffffff;
						}

						&.in-range:not(.disabled, :hover, .selected) {
							background: rgb(
								var(--sb-color-primary-accent-60) / 0.15
							);
							color: rgb(
								var(--sb-color-primary-accent-60) /
									var(--sb-color-opacity)
							);
						}
					}
				}
			}
		}
	}
}
