.file-input-wrapper {
	.helper-text {
		color: rgb(var(--sb-color-info-100) / var(--sb-color-opacity));
		display: block;
		font-size: 0.9375rem;
		font-weight: 400;
		margin-bottom: 1rem;
	}

	&.on-drag {
		position: relative;
	}

	.drag-overlay {
		align-items: center;
		backdrop-filter: blur(4px);
		background: rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		display: flex;
		height: calc(100% + 1.5rem);
		justify-content: center;
		left: -0.75rem;
		padding: 0.5rem 0.75rem;
		position: absolute;
		top: -0.75rem;
		width: calc(100% + 1.5rem);
		z-index: 2;

		.text {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
			font-size: 1rem;
			font-weight: 500;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.input-wrapper {
		.input-group {
			.form-control {
				cursor: pointer;

				.value-wrapper {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);
					display: inline-block;
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.5;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}

			&.readonly,
			&.disabled {
				.form-control {
					.value-wrapper {
						color: rgb(
							var(--sb-color-border) / var(--sb-color-opacity)
						);
					}
				}
			}
		}

		&.multi {
			.input-group {
				.form-control {
					.value-wrapper {
						align-items: center;
						caret-color: unset;
						display: flex;
						flex-flow: row wrap;
						gap: 1rem 1.5rem;
						justify-content: flex-start;
						overflow: unset;
						padding: 0.75rem 0;

						.pill {
							background: rgb(
								var(--sb-color-primary-accent-100) /
									var(--sb-color-opacity)
							);
							border-radius: 6px;
							color: #ffffff;
							height: fit-content;
							font-size: 1rem;
							line-height: 1.5;
							max-width: 10rem;
							padding: 0.15rem 0.5rem;
							position: relative;

							.clear {
								background: rgb(
									var(--sb-color-border) /
										var(--sb-color-opacity)
								);
								border-radius: 50%;
								color: rgb(
									var(--sb-color-primary-font) /
										var(--sb-color-opacity)
								);
								cursor: pointer;
								font-size: 0.875rem;
								height: 14px;
								line-height: 12px;
								position: absolute;
								right: -0.65rem;
								text-align: center;
								transition: filter 0.15s ease-in-out;
								top: -0.35rem;
								width: 14px;

								&:hover {
									filter: brightness(0.75);
								}
							}

							.content {
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}

							div:not(.clear, .content) {
								display: inline;
							}
						}
					}
				}
			}
		}
	}

	.input-group {
		input[type='file'] {
			display: none;
		}
	}

	&.uploading {
		&:not(.upload-error, .uploaded) {
			& > .input-group {
				.input-wrapper {
					.input-group {
						svg {
							display: none;
						}
					}
				}
			}
		}

		& > .input-group {
			border-radius: 6px;
			position: relative;

			.upload-progress {
				&-percentage {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);
					font-size: 0.875rem;
					font-weight: 400;
					position: absolute;
					right: 0.5rem;
					top: 50%;
					transform: translateY(-50%);
				}

				&-bar {
					border-radius: 0;
					border-bottom-left-radius: 6px;
					border-bottom-right-radius: 6px;
					bottom: 1px;
					left: 1px;
					overflow: hidden;
					position: absolute;
					transition: all 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
					width: calc(100% - 2px);
				}
			}

			&:hover {
				.upload-progress {
					&-bar {
						bottom: 2px;
						left: 2px;
						width: calc(100% - 4px);
					}
				}
			}
		}
	}

	&.upload-error {
		.input-wrapper {
			.input-group {
				svg {
					fill: rgb(
						var(--sb-color-danger-100) / var(--sb-color-opacity)
					);
				}
			}
		}
	}
}
