@font-face {
	font-family: 'sbSPCfontY';
	src: url('./dotsfont/dotsfont.eot');
	src:
		url('./dotsfont/dotsfont.eot?#iefix') format('embedded-opentype'),
		url('./dotsfont/dotsfont.woff') format('woff'),
		url('./dotsfont/dotsfont.ttf') format('truetype'),
		url('./dotsfont/dotsfont.svg#dotsfontregular') format('svg');
}

.input-wrapper {
	border-radius: 6px;
	display: block;

	.input-group {
		border-radius: 6px;
		position: relative;

		.input-border {
			align-items: stretch;
			border-radius: 6px;
			display: flex;
			height: 100%;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 100%;

			.start {
				border-bottom-left-radius: 6px;
				border-top-left-radius: 6px;
				border-bottom: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				border-left: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				border-top: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				box-sizing: border-box;
				width: 0.75rem;
			}

			.notch {
				border-bottom: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				border-top: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				box-sizing: border-box;
				max-width: calc(100% - 2.5rem);

				&-label {
					color: transparent;
					display: flex;
					font-size: 0.95rem;
					font-weight: 500;
					margin: 0;
					padding: 0 0.5rem 0 0;

					> span:first-of-type {
						flex: 1;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
			}

			.end {
				border-bottom-right-radius: 6px;
				border-top-right-radius: 6px;
				border-bottom: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				border-right: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				border-top: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				box-sizing: border-box;
				flex: 1;
			}

			.start,
			.notch,
			.end {
				transition:
					border-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
					border-width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
			}
		}

		.label {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
			display: flex;
			font-size: 1rem;
			font-weight: 400;
			left: 0.75rem;
			line-height: 1.5;
			margin-bottom: 0;
			max-width: calc(100% - 2rem);
			overflow: hidden;
			pointer-events: none;
			padding: 0 0.25rem;
			position: absolute;
			top: 18px;
			transform: translate(0, 0) scale(1);
			transform-origin: left top;
			transition:
				color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
				transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
				max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
			user-select: none;

			> span:first-of-type {
				flex: 1;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		.form-control {
			align-items: center;
			background: transparent;
			box-sizing: border-box;
			cursor: text;
			color: rgb(
				var(--sb-color-secondary-font) / var(--sb-color-opacity)
			);
			display: flex;
			flex-wrap: wrap;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			outline: 0;
			min-height: 56px;
			padding: 0.15rem 1rem;
			transition: all 0.15s ease-in-out;
			width: 100%;

			input,
			textarea {
				background: transparent;
				color: transparent;
				flex-grow: 1;
				height: calc(56px - 0.3rem);
				padding: 0;
				width: 100%;

				&:focus {
					border: 0;
					outline: 0;
				}

				&::placeholder {
					color: transparent;
					font-size: 0.9375rem;
					font-style: oblique;
					font-weight: 400;
				}
			}

			textarea {
				height: unset;
				margin: 1rem 0;
				min-height: calc(56px - 0.3rem);
				resize: none;
			}

			.placeholder {
				color: transparent;
				font-size: 0.9375rem;
				font-style: oblique;
				font-weight: 400;
			}

			&.password.no-save-password {
				input {
					font-family: 'sbSPCfontY';
				}
			}

			&.right {
				input,
				textarea {
					text-align: right;
				}
			}
		}

		&.icon {
			&_append {
				.form-control {
					padding-right: 2.5rem;
				}

				.icon {
					right: 0.75rem;
				}
			}

			&_prepend {
				.label {
					left: 2.5rem;
				}

				.form-control {
					padding-left: 2.5rem;
				}

				.icon {
					left: 0.75rem;
				}
			}
		}

		&.icon_append,
		&.icon_prepend {
			.label {
				max-width: calc(100% - 3rem);
			}

			.input-border {
				.notch {
					max-width: calc(100% - 3.5rem);
				}
			}

			.icon {
				color: rgb(
					var(--sb-color-secondary-100) / var(--sb-color-opacity)
				);
				cursor: pointer;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				transition: color 0.15s ease-in-out;
				z-index: 1;

				svg {
					height: 1rem;
				}
			}
		}

		&:hover {
			&.icon_append,
			&.icon_prepend {
				.icon {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);
				}
			}
		}

		&.focus:not(.readonly, .disabled) {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));

			.input-border {
				.start,
				.notch,
				.end {
					border-color: rgb(
						var(--sb-color-primary-85) / var(--sb-color-opacity)
					);
				}

				.notch {
					border-top: 1px solid transparent;
				}
			}

			.label {
				color: rgb(
					var(--sb-color-primary-100) / var(--sb-color-opacity)
				);
				font-weight: 500;
				transform: translate(0, -26px) scale(0.95);

				span:not(.asterisk) {
					color: rgb(
						var(--sb-color-primary-100) / var(--sb-color-opacity)
					);
				}
			}

			.form-control {
				color: rgb(
					var(--sb-color-primary-font) / var(--sb-color-opacity)
				);

				input,
				textarea {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);

					&::placeholder {
						color: rgb(
							var(--sb-color-secondary-font) /
								var(--sb-color-opacity)
						);
					}
				}

				.placeholder {
					color: rgb(
						var(--sb-color-secondary-font) / var(--sb-color-opacity)
					);
				}
			}
		}

		&:hover:not(.readonly, .disabled),
		&.focus:not(.readonly, .disabled) {
			.input-border {
				.start {
					border-bottom-width: 2px;
					border-left-width: 2px;
					border-top-width: 2px;
				}

				.notch {
					border-bottom-width: 2px;
					border-top-width: 2px;
				}

				.end {
					border-bottom-width: 2px;
					border-right-width: 2px;
					border-top-width: 2px;
				}
			}
		}

		&.filled {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));

			.input-border {
				.start,
				.notch,
				.end {
					border-color: rgb(
						var(--sb-color-border) / var(--sb-color-opacity)
					);
				}

				.notch {
					border-top: 1px solid transparent;
				}
			}

			.label {
				transform: translate(0, -26px) scale(0.95);
			}

			&:not(.readonly, .disabled) {
				.label {
					color: rgb(
						var(--sb-color-secondary-font) / var(--sb-color-opacity)
					);
					font-weight: 500;

					span:not(.asterisk) {
						color: rgb(
							var(--sb-color-secondary-font) /
								var(--sb-color-opacity)
						);
					}
				}
			}

			.form-control {
				input,
				textarea {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);

					&::placeholder {
						color: rgb(
							var(--sb-color-secondary-font) /
								var(--sb-color-opacity)
						);
					}
				}

				.placeholder {
					color: rgb(
						var(--sb-color-secondary-font) / var(--sb-color-opacity)
					);
				}
			}
		}

		&.disabled {
			.form-control {
				cursor: not-allowed;

				input,
				textarea {
					cursor: not-allowed;
					pointer-events: none;
				}
			}
		}

		&.readonly,
		&.disabled {
			.label,
			.form-control {
				color: rgb(var(--sb-color-border) / var(--sb-color-opacity));

				input,
				textarea {
					color: rgb(
						var(--sb-color-secondary-60) / var(--sb-color-opacity)
					);
				}

				> * {
					color: rgb(
						var(--sb-color-secondary-60) / var(--sb-color-opacity)
					);
				}
			}

			.label {
				span {
					color: rgb(
						var(--sb-color-border) / var(--sb-color-opacity)
					);
				}
			}
		}
	}

	.error-wrapper {
		margin-top: 0.5rem;

		span {
			color: rgb(var(--sb-color-danger-100) / var(--sb-color-opacity));
			font-size: 1rem;
			font-weight: 500;
		}
	}

	&.error {
		.input-group {
			.label {
				color: rgb(
					var(--sb-color-danger-100) / var(--sb-color-opacity)
				);

				span {
					color: rgb(
						var(--sb-color-danger-100) / var(--sb-color-opacity)
					);
				}
			}

			.input-border {
				.start,
				.notch,
				.end {
					border-color: rgb(
						var(--sb-color-danger-100) / var(--sb-color-opacity)
					);
				}

				.start {
					border-bottom-width: 1px;
					border-left-width: 1px;
					border-top-width: 1px;
				}

				.notch {
					border-bottom-width: 1px;
					border-top-width: 1px;
				}

				.end {
					border-bottom-width: 1px;
					border-right-width: 1px;
					border-top-width: 1px;
				}
			}

			&.filled {
				.input-border {
					.notch {
						border-top: 1px solid transparent;
					}
				}
			}
		}
	}

	&.flat {
		.input-group {
			.form-control {
				min-height: 40px;

				input,
				textarea {
					height: calc(40px - 0.3rem);
				}

				textarea {
					min-height: calc(40px - 0.3rem);
				}
			}

			.label {
				top: 11px;
			}

			&.focus,
			&.filled {
				.label {
					transform: translate(0, -19px) scale(0.95);
				}
			}
		}
	}
}
