.input-wrapper {
	border-radius: 6px;
	display: block;
	margin: 5px;

	.input-group {
		border-radius: 6px;
		position: relative;

		.input-border {
			border: 1px solid
				rgb(var(--sb-color-border) / var(--sb-color-opacity));
			border-radius: 6px;
			box-sizing: border-box;
			inset: -5px 0 0 0;
			margin: 0;
			min-width: 0%;
			overflow: hidden;
			padding: 0 1rem;
			pointer-events: none;
			position: absolute;
			text-align: left;
			transition:
				border-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
				border-width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;

			.notch {
				display: block;
				float: unset;
				height: 0.9rem;
				margin-left: -6px;
				max-width: 0.01px;
				overflow: hidden;
				padding: 0;
				transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
				visibility: hidden;

				.notch-label {
					color: transparent;
					display: flex;
					font-size: 0.9rem;
					font-weight: 500;
					margin: 0;
					opacity: 0;
					padding: 0 5px;

					> span:first-of-type {
						flex: 1;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					&.no-label {
						padding: 0;
					}
				}
			}
		}

		.label {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
			display: flex;
			font-size: 1rem;
			font-weight: 400;
			left: calc(1rem + 2px);
			line-height: normal;
			margin-bottom: 0;
			max-width: calc(100% - 2rem);
			overflow: hidden;
			pointer-events: none;
			padding: 0;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			transform-origin: left top;
			transition:
				color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
				font-size 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
				top 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
				transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
				max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
			user-select: none;

			> span:not(.asterisk) {
				flex: 1;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&.multiline {
				top: 1.2rem;
				transform: translateY(0);
			}
		}

		.form-control {
			align-items: center;
			background: transparent;
			box-sizing: border-box;
			cursor: text;
			color: rgb(
				var(--sb-color-secondary-font) / var(--sb-color-opacity)
			);
			display: flex;
			flex-wrap: wrap;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			outline: 0;
			min-height: 56px;
			padding: 1rem;
			transition: all 0.15s ease-in-out;
			width: 100%;

			input,
			textarea {
				background: transparent;
				border: 0;
				color: transparent;
				flex-grow: 1;
				height: calc(56px - 2rem);
				outline: 0;
				padding: 0;
				width: 100%;

				&:focus {
					border: 0;
					outline: 0;
				}

				&::placeholder {
					color: transparent;
					font-size: 0.9375rem;
					font-style: oblique;
					font-weight: 400;
				}
			}

			textarea {
				height: unset;
				min-height: calc(56px - 2rem);
				resize: none;
			}

			.placeholder {
				color: transparent;
				font-size: 0.9375rem;
				font-style: oblique;
				font-weight: 400;
			}

			&.right {
				input,
				textarea {
					text-align: right;
				}
			}
		}

		&.icon {
			&_append {
				.form-control {
					padding-right: 2.5rem;
				}

				.icon {
					right: 0.75rem;
				}
			}

			&_prepend {
				.form-control {
					padding-left: 2.5rem;
				}

				.icon {
					left: 0.75rem;
				}
			}
		}

		&.icon_append,
		&.icon_prepend {
			.label {
				max-width: calc(100% - 3rem - 6px);
			}

			.icon {
				align-items: center;
				color: rgb(
					var(--sb-color-secondary-100) / var(--sb-color-opacity)
				);
				cursor: pointer;
				display: flex;
				height: 1rem;
				justify-content: center;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				transition: color 0.15s ease-in-out;
				z-index: 1;
				width: 1rem;

				svg {
					width: 100%;
				}
			}
		}

		&:hover {
			&.icon_append,
			&.icon_prepend {
				.icon {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);
				}
			}
		}

		&:hover:not(.readonly, .disabled),
		&.focus:not(.readonly, .disabled) {
			.input-border {
				border-width: 2px;
			}
		}

		&.filled {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));

			.input-border {
				border-color: rgb(
					var(--sb-color-border) / var(--sb-color-opacity)
				);

				.notch {
					max-width: calc(100% + 10px);
				}
			}

			&.icon_append {
				.input-border {
					.notch {
						max-width: calc(100% - 1rem + 10px);
					}
				}
			}

			.label {
				font-size: 0.9rem;
				top: -0.6rem;
				transform: translate(0, 0);
			}

			&:not(.readonly, .disabled) {
				.label {
					color: rgb(
						var(--sb-color-secondary-font) / var(--sb-color-opacity)
					);
					font-weight: 500;
				}
			}

			.form-control {
				input,
				textarea {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);

					&::placeholder {
						color: rgb(
							var(--sb-color-secondary-font) /
								var(--sb-color-opacity)
						);
					}
				}

				.placeholder {
					color: rgb(
						var(--sb-color-secondary-font) / var(--sb-color-opacity)
					);
				}
			}
		}

		&.disabled {
			.form-control {
				cursor: not-allowed;

				input,
				textarea {
					cursor: not-allowed;
					pointer-events: none;
				}
			}
		}

		&.readonly,
		&.disabled {
			.form-control {
				color: rgb(
					var(--sb-color-disabled-100) / var(--sb-color-opacity)
				);

				input,
				textarea {
					color: rgb(
						var(--sb-color-disabled-100) / var(--sb-color-opacity)
					);
				}

				> * {
					color: rgb(
						var(--sb-color-disabled-100) / var(--sb-color-opacity)
					);
				}
			}

			.label {
				color: rgb(
					var(--sb-color-disabled-100) / var(--sb-color-opacity)
				);

				.asterisk {
					color: rgb(
						var(--sb-color-disabled-100) / var(--sb-color-opacity)
					);
				}
			}

			&.icon_append,
			&.icon_prepend {
				.icon {
					color: rgb(
						var(--sb-color-disabled-100) / var(--sb-color-opacity)
					);
				}
			}
		}

		&.icon_prepend {
			.input-border {
				.notch {
					max-width: calc(100% + 10px);
				}
			}

			.label {
				font-size: 0.9rem;
				top: -0.6rem;
				transform: translate(0, 0);
			}
		}

		&.focus:not(.readonly, .disabled) {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));

			.input-border {
				border-color: rgb(
					var(--sb-color-primary-85) / var(--sb-color-opacity)
				);

				.notch {
					max-width: calc(100% + 10px);
				}
			}

			&.icon_append {
				.input-border {
					.notch {
						max-width: calc(100% - 1rem + 10px);
					}
				}
			}

			.label {
				color: rgb(
					var(--sb-color-primary-100) / var(--sb-color-opacity)
				);
				font-size: 0.9rem;
				font-weight: 500;
				top: -0.6rem;
				transform: translate(0, 0);
			}

			.form-control {
				color: rgb(
					var(--sb-color-primary-font) / var(--sb-color-opacity)
				);

				input,
				textarea {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);

					&::placeholder {
						color: rgb(
							var(--sb-color-secondary-font) /
								var(--sb-color-opacity)
						);
					}
				}

				.placeholder {
					color: rgb(
						var(--sb-color-secondary-font) / var(--sb-color-opacity)
					);
				}
			}
		}
	}

	.error-wrapper {
		margin-top: 0.5rem;

		span {
			color: rgb(var(--sb-color-danger-100) / var(--sb-color-opacity));
			font-size: 1rem;
			font-weight: 500;
		}
	}

	&.error {
		.input-group {
			.label {
				color: rgb(
					var(--sb-color-danger-100) / var(--sb-color-opacity)
				);

				.asterisk {
					color: rgb(
						var(--sb-color-danger-100) / var(--sb-color-opacity)
					);
				}
			}

			.input-border {
				border-color: rgb(
					var(--sb-color-danger-100) / var(--sb-color-opacity)
				);
			}
		}

		.input-group.filled:not(.focus) {
			.label {
				color: rgb(
					var(--sb-color-danger-100) / var(--sb-color-opacity)
				);
			}
		}
	}

	&.flat {
		.input-group {
			.form-control {
				min-height: 40px;
				padding: 0.5rem 1rem;

				input,
				textarea {
					height: calc(40px - 1rem);
				}

				textarea {
					height: unset;
					min-height: calc(40px - 1rem);
				}
			}

			&.focus,
			&.filled {
				.label {
					font-size: 0.9rem;
					top: -0.6rem;
					transform: translate(0, 0);
				}
			}

			&.icon_prepend {
				.label {
					font-size: 0.9rem;
					top: -0.6rem;
					transform: translate(0, 0);
				}
			}
		}
	}
}
