@font-face {
	font-family: 'sbSPCfontY';
	src: url('./dotsfont/dotsfont.eot');
	src:
		url('./dotsfont/dotsfont.eot?#iefix') format('embedded-opentype'),
		url('./dotsfont/dotsfont.woff') format('woff'),
		url('./dotsfont/dotsfont.ttf') format('truetype'),
		url('./dotsfont/dotsfont.svg#dotsfontregular') format('svg');
}

.input-wrapper {
	.input-group {
		.form-control {
			&.password.no-save-password {
				input {
					font-family: 'sbSPCfontY';
				}
			}
		}
	}
}
