.input-wrapper {
	border-radius: 6px;
	display: block;

	.input-group {
		border-radius: 6px;
		position: relative;

		.input-border {
			align-items: stretch;
			border-radius: 6px;
			display: flex;
			height: 100%;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 100%;

			.start {
				border-bottom-left-radius: 6px;
				border-top-left-radius: 6px;
				border-bottom: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				border-left: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				border-top: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				box-sizing: border-box;
				width: 0.75rem;
			}

			.notch {
				border-bottom: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				border-top: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				box-sizing: border-box;

				&-label {
					color: transparent;
					font-size: calc(1.05rem * 0.92);
					padding: 0 0.25rem;
					margin: 0;
				}
			}

			.end {
				border-bottom-right-radius: 6px;
				border-top-right-radius: 6px;
				border-bottom: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				border-right: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				border-top: 1px solid
					rgb(var(--sb-color-border) / var(--sb-color-opacity));
				box-sizing: border-box;
				flex: 1;
			}

			.start,
			.notch,
			.end {
				transition:
					border-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
					border-width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
			}
		}

		.label {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));
			display: inline-block;
			font-size: 1.05rem;
			font-weight: 400;
			left: 0.75rem;
			line-height: 1.5;
			margin-bottom: 0;
			max-width: calc(100% - 2rem);
			overflow: hidden;
			pointer-events: none;
			padding: 0 0.25rem;
			position: absolute;
			top: 17px;
			text-overflow: ellipsis;
			transform: translate(0, 0) scale(1);
			transform-origin: left top;
			transition:
				color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
				transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
				max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
			user-select: none;
			white-space: nowrap;
		}

		.form-control {
			align-items: center;
			background: transparent;
			box-sizing: border-box;
			cursor: text;
			color: rgb(
				var(--sb-color-secondary-font) / var(--sb-color-opacity)
			);
			display: flex;
			flex-wrap: wrap;
			font-size: 1rem;
			font-weight: 600;
			line-height: 1.5;
			outline: 0;
			min-height: 56px;
			padding: 0.15rem 1rem;
			transition: all 0.15s ease-in-out;
			width: 100%;

			input,
			textarea {
				background: transparent;
				color: transparent;
				flex-grow: 1;
				font-weight: 400;
				height: calc(56px - 0.3rem);
				padding: 0;
				width: 100%;

				&:focus {
					border: 0;
					outline: 0;
				}

				&::placeholder {
					color: transparent;
					font-weight: 400;
					font-style: oblique;
				}
			}

			textarea {
				height: unset;
				min-height: calc(56px - 0.3rem);
				padding-top: 1rem;
				resize: none;
			}

			.placeholder {
				color: transparent;
				font-weight: 400;
				font-style: oblique;
			}

			&.password {
				position: relative;

				input {
					color: transparent;
				}

				input[type='password'] {
					font-size: 1.642rem;
				}

				.pass-over {
					background: transparent;
					display: block;
					font-size: 1.642rem;
					font-weight: 400;
					left: 1rem;
					letter-spacing: 0.01rem;
					line-height: 1.5;
					overflow-x: auto;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: calc(100% - 2rem);
					z-index: -1;

					&::-webkit-scrollbar {
						width: 0;
						height: 0;
					}
				}
			}
		}

		&.icon {
			.label {
				max-width: calc(100% - 3.5rem);
			}

			&_append {
				.form-control {
					padding-right: 2.5rem;

					&.password {
						.pass-over {
							width: calc(100% - 3.5rem);
						}
					}
				}

				.icon {
					right: 0.75rem;
				}
			}

			&_prepend {
				.label {
					left: 2.5rem;
				}

				.form-control {
					padding-left: 2.5rem;

					&.password {
						.pass-over {
							left: 2.5rem;
							width: calc(100% - 3.5rem);
						}
					}
				}

				.icon {
					left: 0.75rem;
				}
			}
		}

		&.icon_append,
		&.icon_prepend {
			.icon {
				color: rgb(
					var(--sb-color-secondary-100) / var(--sb-color-opacity)
				);
				cursor: pointer;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				transition: color 0.15s ease-in-out;
				z-index: 1;

				svg {
					height: 1.25rem;
				}
			}
		}

		&:hover {
			&.icon_append,
			&.icon_prepend {
				.icon {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);
				}
			}
		}

		&.focus:not(.readonly, .disabled) {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));

			.input-border {
				.start,
				.notch,
				.end {
					border-color: rgb(
						var(--sb-color-primary-85) / var(--sb-color-opacity)
					);
				}

				.notch {
					border-top: 1px solid transparent;
				}
			}

			.label {
				color: rgb(
					var(--sb-color-primary-100) / var(--sb-color-opacity)
				);
				transform: translate(0, -25px) scale(0.9);
			}

			.form-control {
				color: rgb(
					var(--sb-color-primary-font) / var(--sb-color-opacity)
				);

				input,
				textarea {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);

					&::placeholder {
						color: rgb(
							var(--sb-color-secondary-font) /
								var(--sb-color-opacity)
						);
					}
				}

				.placeholder {
					color: rgb(
						var(--sb-color-secondary-font) / var(--sb-color-opacity)
					);
				}

				&.password {
					input {
						caret-color: rgb(
							var(--sb-color-primary-font) /
								var(--sb-color-opacity)
						);
						color: transparent;
					}

					.pass-over {
						color: rgb(
							var(--sb-color-primary-font) /
								var(--sb-color-opacity)
						);
					}
				}
			}
		}

		&:hover:not(.readonly, .disabled),
		&.focus:not(.readonly, .disabled) {
			.input-border {
				.start {
					border-bottom-width: 2px;
					border-left-width: 2px;
					border-top-width: 2px;
				}

				.notch {
					border-bottom-width: 2px;
					border-top-width: 2px;
				}

				.end {
					border-bottom-width: 2px;
					border-right-width: 2px;
					border-top-width: 2px;
				}
			}
		}

		&.filled {
			color: rgb(var(--sb-color-primary-font) / var(--sb-color-opacity));

			.input-border {
				.start,
				.notch,
				.end {
					border-color: rgb(
						var(--sb-color-border) / var(--sb-color-opacity)
					);
				}

				.notch {
					border-top: 1px solid transparent;
				}
			}

			.label {
				color: rgb(
					var(--sb-color-secondary-font) / var(--sb-color-opacity)
				);
				transform: translate(0, -25px) scale(0.9);
			}

			.form-control {
				input,
				textarea {
					color: rgb(
						var(--sb-color-primary-font) / var(--sb-color-opacity)
					);
					font-weight: 400;

					&::placeholder {
						color: rgb(
							var(--sb-color-secondary-font) /
								var(--sb-color-opacity)
						);
					}
				}

				.placeholder {
					color: rgb(
						var(--sb-color-secondary-font) / var(--sb-color-opacity)
					);
				}

				&.password {
					input {
						caret-color: rgb(
							var(--sb-color-primary-font) /
								var(--sb-color-opacity)
						);
						color: transparent;
					}

					.pass-over {
						color: rgb(
							var(--sb-color-primary-font) /
								var(--sb-color-opacity)
						);
					}
				}
			}
		}

		&.disabled {
			.form-control {
				cursor: not-allowed;

				input,
				textarea {
					cursor: not-allowed;
					pointer-events: none;
				}
			}
		}

		&.readonly,
		&.disabled {
			.label,
			.form-control {
				color: rgb(var(--sb-color-border) / var(--sb-color-opacity));

				&.password {
					input {
						caret-color: rgb(
							var(--sb-color-border) / var(--sb-color-opacity)
						);
						color: transparent;
					}

					.pass-over {
						color: rgb(
							var(--sb-color-border) / var(--sb-color-opacity)
						);
					}
				}
			}
		}
	}

	.error-wrapper {
		margin-top: 0.5rem;

		span {
			color: rgb(var(--sb-color-danger-100) / var(--sb-color-opacity));
			font-weight: 500;
		}
	}

	&.error {
		.input-group {
			.label {
				color: rgb(
					var(--sb-color-danger-100) / var(--sb-color-opacity)
				);
				font-weight: 500;
			}

			.input-border {
				.start,
				.notch,
				.end {
					border-color: rgb(
						var(--sb-color-danger-100) / var(--sb-color-opacity)
					);
				}

				.start {
					border-bottom-width: 1px;
					border-left-width: 1px;
					border-top-width: 1px;
				}

				.notch {
					border-bottom-width: 1px;
					border-top-width: 1px;
				}

				.end {
					border-bottom-width: 1px;
					border-right-width: 1px;
					border-top-width: 1px;
				}
			}

			&.filled {
				.input-border {
					.notch {
						border-top: 1px solid transparent;
					}
				}
			}
		}
	}

	&.flat {
		.input-group {
			.form-control {
				min-height: 40px;

				input,
				textarea {
					height: calc(40px - 0.3rem);
				}

				textarea {
					min-height: calc(40px - 0.3rem);
				}
			}

			.label {
				top: 10px;
			}

			&.focus,
			&.filled {
				.label {
					transform: translate(0, -18px) scale(0.9);
				}
			}
		}
	}
}
